.section-0{
    border: 1px solid rosybrown;
    height: 150px;
    padding-right: 100px;
    padding-top: 50px;
    background-color: rosybrown;
}
.section-1{
    width: 49%;
    
    height: 1400px;
    float: right;
}
.section-2{
    width: 49%;
    
    height: 1400px;  
}
.section-3{
    padding-left: 250px ;
    margin-bottom: 100px;
    margin-top: 250px;
    
}
.section-4{
    height: 700px;
    
    
    padding: 50px 280px 100px 280px;
    background-image: url("images/spc.png");
    background-size: 800px 200px;
    background-repeat: no-repeat;
    background-position: center center;

}
#nameonly{
    font-weight: 900;
    color: salmon;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
font-family: 'Signika', sans-serif;

}
.firstline{
    font-weight: 900;
    color: black;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
font-family: 'Signika', sans-serif;
    
}
p{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Signika', sans-serif;
font-family: 'Tajawal', sans-serif;
}
img{
    width: 100%;


}
h4{
    background-color: salmon;
    

    width: 110px;
    height: 25px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
   
    color: seashell;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Signika', sans-serif;
    font-family: 'Tajawal', sans-serif;
    border-radius: 5px;
}
.top{
    
    padding: 100px 10px 250px 150px;
   
}
.about{
    
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.webname{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.lol{
    color: gray;
    font-size: 15px;
}
.project{
    box-shadow: 10px 10px 40px grey;
    
    border-radius: 15px;
    width: 20%;
    margin: 5% 1% 5% 1%;
    padding: 25px;
    

    float: left;
}
.link{
    text-decoration: none;
}
.special{
    
    margin-top: 28px;
    width: 86%;
    height: 950px;
    padding-left:215px;
    background-color: rgb(241, 241, 238);
}
.colorstyle{
    color: crimson;
}
.word-inside-image{
    
    margin-top: 350px;
    padding-left: 110px;
    margin-bottom: 100px;

    font-size: 50px;
    color: white;
    font-weight: 900;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    width: 50%;
    
}

#downloadbutton{
    background-color: salmon;
    

    width: 200px;
    height: 30px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    cursor: pointer;
   
    color: seashell;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Signika', sans-serif;
    font-family: 'Tajawal', sans-serif;
    border-radius: 5px;
    
}


.chatbox{
    background-color: salmon;
    

    
    margin-left: 250px;
    margin-top: 100px;


    width: 150px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
   
    color: seashell;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
font-family: 'Signika', sans-serif;
font-family: 'Tajawal', sans-serif;
    border-radius: 5px;


}
.div-1{
   
}
.div-2{
    
    text-align: center;
}
#webstyle{
    font-size: 40px;
    font-weight: 700;
    color: black;
    font-family: monospace;

}
#stayconnected{
    color: darkcyan;
    font-weight: 300;
    font-size: 25px;
}
.icon{
    
    width: 40px;
    height: 40px;
    float: left;
    margin: 15px;
}
.all-icons{
    
    height: 80px;
    width: 300px;
    margin-left: 350px;
}
.small-button{
    
    background-color: white; /* Green */
    border: 1px solid white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.positionoftopbuttons{
    float: right;

}
.addedbyme{
    border: 0.5px solid white;
    
    background-image: url("images/dogback.jpg");
    height: 650px;

}
#quotes{
    font-size: 30px;
    color: saddlebrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 250px;

}